/****** Object:  Table [dbo].[DOROBEK]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOROBEK](
	[id_dorobku] [int] IDENTITY(1,1) NOT NULL,
	[autorzy] [text] NULL,
	[tytul] [text] NOT NULL,
	[czasopismo] [text] NULL,
	[rok_wydania] [varchar](10) NULL,
	[_if] [varchar](5) NULL,
	[KBN] [varchar](10) NULL,
	[cytowania] [varchar](10) NULL,
	[uwagi] [text] NULL,
	[id_uzytk] [int] NOT NULL,
 CONSTRAINT [PK_DOROBEK] PRIMARY KEY CLUSTERED 
(
	[id_dorobku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EKSP_METODA]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EKSP_METODA](
	[id_eksp_metoda] [int] IDENTITY(1,1) NOT NULL,
	[id_eksperymentu] [int] NOT NULL,
	[id_slownika_metod] [int] NOT NULL,
 CONSTRAINT [PK_EKSP_METODA] PRIMARY KEY CLUSTERED 
(
	[id_eksp_metoda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EKSPERYMENT]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EKSPERYMENT](
	[id_eksperymentu] [int] IDENTITY(1,1) NOT NULL,
	[data] [datetime2](7) NOT NULL,
	[opis] [varchar](max) NOT NULL,
	[wynik] [varchar](max) NULL,
	[uwagi] [varchar](max) NULL,
	[id_projektu] [int] NOT NULL,
 CONSTRAINT [PK_EKSPERYMENT] PRIMARY KEY CLUSTERED 
(
	[id_eksperymentu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GRUPA]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPA](
	[id_grupa] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_grupy] [nchar](10) NOT NULL,
 CONSTRAINT [PK_GRUPA] PRIMARY KEY CLUSTERED 
(
	[id_grupa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GRUPA_PROJ]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPA_PROJ](
	[id_grupa_proj] [int] IDENTITY(1,1) NOT NULL,
	[id_grupa] [int] NOT NULL,
	[id_projekt] [int] NOT NULL,
 CONSTRAINT [PK_GRUPA_PROJ] PRIMARY KEY CLUSTERED 
(
	[id_grupa_proj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JEDN_UZYTK]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JEDN_UZYTK](
	[id_jedn_uzytk] [int] IDENTITY(1,1) NOT NULL,
	[id_uzytk] [int] NOT NULL,
	[id_jednostki] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JEDNOSTKA]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JEDNOSTKA](
	[id_jednostki] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_nadrz] [varchar](150) NOT NULL,
	[nazwa_podrz] [varchar](150) NOT NULL,
	[ulica] [varchar](100) NULL,
	[kod_pocztowy] [varchar](7) NULL,
	[miasto] [varchar](100) NULL,
	[e_mail] [varchar](45) NULL,
	[www] [varchar](45) NULL,
	[tel] [varchar](45) NULL,
	[fax] [varchar](45) NULL,
	[nip] [varchar](15) NULL,
 CONSTRAINT [PK_JEDNOSTKA] PRIMARY KEY CLUSTERED 
(
	[id_jednostki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LITERATURA]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LITERATURA](
	[id_literatury] [int] IDENTITY(1,1) NOT NULL,
	[autorzy] [text] NOT NULL,
	[tytul] [text] NOT NULL,
	[czasopismo] [text] NULL,
	[rok_wydania] [varchar](10) NULL,
	[uwagi] [text] NULL,
	[www] [varchar](150) NULL,
	[tresc] [text] NULL,
	[id_projektu] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[id_materialu] [int] IDENTITY(1,1) NOT NULL,
	[lodowka] [varchar](45) NOT NULL,
	[rack] [varchar](20) NOT NULL,
	[pozycja] [varchar](10) NOT NULL,
	[tube] [varchar](45) NOT NULL,
	[uwagi] [text] NULL,
	[id_probki] [int] NOT NULL,
	[id_slownika_materialow] [int] NOT NULL,
 CONSTRAINT [PK_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[id_materialu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PACJ_PROB]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACJ_PROB](
	[id_pacj_prob] [int] IDENTITY(1,1) NOT NULL,
	[id_probki] [int] NOT NULL,
	[id_pacjent] [int] NOT NULL,
 CONSTRAINT [PK_PACJ_PROB] PRIMARY KEY CLUSTERED 
(
	[id_pacj_prob] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PACJ_PROJ]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACJ_PROJ](
	[id_pacj_proj] [int] IDENTITY(1,1) NOT NULL,
	[id_projektu] [int] NOT NULL,
	[id_pacjent] [int] NOT NULL,
	[id_grupa_proj] [int] NOT NULL,
 CONSTRAINT [PK_PACJ_PROJ] PRIMARY KEY CLUSTERED 
(
	[id_pacj_proj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PACJENT]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PACJENT](
	[id_pacjent] [int] IDENTITY(1,1) NOT NULL,
	[imie] [varchar](15) NOT NULL,
	[nazwisko] [varchar](20) NOT NULL,
	[pesel] [varchar](15) NOT NULL,
 CONSTRAINT [PK_PACJENT] PRIMARY KEY CLUSTERED 
(
	[id_pacjent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROBKA]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROBKA](
	[id_probki] [int] IDENTITY(1,1) NOT NULL,
	[numer] [varchar](45) NOT NULL,
	[nazwa] [varchar](256) NOT NULL,
	[data] [date] NOT NULL,
	[uwagi] [text] NULL,
	[id_slownika_statusow] [int] NOT NULL,
	[id_projektu] [int] NOT NULL,
	[id_slownika_materialow] [int] NOT NULL,
 CONSTRAINT [PK_PROBKA] PRIMARY KEY CLUSTERED 
(
	[id_probki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROJEKT]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJEKT](
	[id_projektu] [int] IDENTITY(1,1) NOT NULL,
	[akronim] [nchar](10) NOT NULL,
	[nazwa_projektu] [varchar](150) NOT NULL,
	[streszczenie] [varchar](250) NULL,
	[cel_nauk] [text] NULL,
	[metody] [text] NULL,
	[efekt] [text] NULL,
	[efekt_nowat] [text] NULL,
	[znaczenie] [text] NULL,
	[zespol] [text] NULL,
	[uwagi] [text] NULL,
	[id_Admin] [int] NOT NULL CONSTRAINT [DF_PROJEKT_id_Admin]  DEFAULT ((1)),
	[status_archiwum] [bit] NOT NULL CONSTRAINT [DF_PROJEKT_status_archiwum]  DEFAULT ((0)),
 CONSTRAINT [PK_PROJEKT] PRIMARY KEY CLUSTERED 
(
	[id_projektu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SLOWNIK_MATERIALOW]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SLOWNIK_MATERIALOW](
	[id_slownika_materialow] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_materialu] [varchar](45) NOT NULL,
 CONSTRAINT [PK_SLOWNIK_MATERIALOW] PRIMARY KEY CLUSTERED 
(
	[id_slownika_materialow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SLOWNIK_METOD]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SLOWNIK_METOD](
	[id_slownika_metod] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_metody] [varchar](150) NOT NULL,
	[slowa_klucz] [varchar](100) NULL,
	[opis_metody] [text] NULL,
	[uwagi] [text] NULL,
	[id_uzytk] [int] NOT NULL,
 CONSTRAINT [PK_SLOWNIK_METOD] PRIMARY KEY CLUSTERED 
(
	[id_slownika_metod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SLOWNIK_STATUSOW]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SLOWNIK_STATUSOW](
	[id_slownika_statusow] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_statusu] [varchar](45) NOT NULL,
 CONSTRAINT [PK_SLOWNIK_STATUSOW] PRIMARY KEY CLUSTERED 
(
	[id_slownika_statusow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SLOWNIK_ZMIENNA]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SLOWNIK_ZMIENNA](
	[id_slownika_zmiennych] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_zmiennej] [varchar](45) NOT NULL,
	[jednostka_zmiennej] [varchar](45) NULL,
	[id_projektu] [int] NOT NULL,
 CONSTRAINT [PK_SLOWNIK_ZMIENNA] PRIMARY KEY CLUSTERED 
(
	[id_slownika_zmiennych] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UPRAWNIENIA]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UPRAWNIENIA](
	[id_uprawnienia] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_uprawnienia] [varchar](10) NOT NULL,
 CONSTRAINT [PK_UPRAWNIENIA] PRIMARY KEY CLUSTERED 
(
	[id_uprawnienia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UZYTKOWNIK]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UZYTK](
	[id_uzytk] [int] IDENTITY(1,1) NOT NULL,
	[imie] [varchar](45) NOT NULL,
	[nazwisko] [varchar](150) NOT NULL,
	[login] [varchar](8) NOT NULL,
	[haslo] [varchar](8) NOT NULL,
	[id_uprawnienia] [int] NOT NULL,
	[tel_kom] [varchar](20) NULL,
	[e_mail] [varchar](45) NOT NULL,
	[id_jednostka] [int] NOT NULL,
	[aktywny] [bit] NOT NULL CONSTRAINT [DF_uzytk_aktywny]  DEFAULT ((0)),
 CONSTRAINT [PK_UZYTK] PRIMARY KEY CLUSTERED 
(
	[id_uzytk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_UZYTK] UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UZYTK_AKTYW]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UZYTK_AKTYW](
	[id_uzytk_aktyw] [int] IDENTITY(1,1) NOT NULL,
	[id_uzytk] [int] NOT NULL,
	[kod_aktyw] [nchar](100) NOT NULL,
	[data_kodu] [date] NULL,
 CONSTRAINT [PK_UZYTK_AKTYW] PRIMARY KEY CLUSTERED 
(
	[id_uzytk_aktyw] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UZYTK_PROJEKT]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UZYTK_PROJEKT](
	[id_uzytk_projekt] [int] IDENTITY(1,1) NOT NULL,
	[id_uzytk] [int] NOT NULL,
	[id_projektu] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WYNIK]    Script Date: 2015-12-06 14:37:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WYNIK](
	[id_wyniku] [int] IDENTITY(1,1) NOT NULL,
	[wartosc] [varchar](45) NOT NULL,
	[data] [date] NOT NULL,
	[id_slownik_zmiennej] [int] NOT NULL,
	[id_probki] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DOROBEK]  WITH CHECK ADD  CONSTRAINT [FK_DOROBEK_UZYTK] FOREIGN KEY([id_uzytk])
REFERENCES [dbo].[UZYTK] ([id_uzytk])
GO
ALTER TABLE [dbo].[DOROBEK] CHECK CONSTRAINT [FK_DOROBEK_UZYTK]
GO
ALTER TABLE [dbo].[EKSP_METODA]  WITH CHECK ADD  CONSTRAINT [FK_EKSP_METODA_EKSPERYMENT] FOREIGN KEY([id_eksperymentu])
REFERENCES [dbo].[EKSPERYMENT] ([id_eksperymentu])
GO
ALTER TABLE [dbo].[EKSP_METODA] CHECK CONSTRAINT [FK_EKSP_METODA_EKSPERYMENT]
GO
ALTER TABLE [dbo].[EKSP_METODA]  WITH CHECK ADD  CONSTRAINT [FK_EKSP_METODA_SLOWNIK_METOD] FOREIGN KEY([id_slownika_metod])
REFERENCES [dbo].[SLOWNIK_METOD] ([id_slownika_metod])
GO
ALTER TABLE [dbo].[EKSP_METODA] CHECK CONSTRAINT [FK_EKSP_METODA_SLOWNIK_METOD]
GO
ALTER TABLE [dbo].[EKSPERYMENT]  WITH CHECK ADD  CONSTRAINT [FK_EKSPERYMENT_PROJEKT] FOREIGN KEY([id_projektu])
REFERENCES [dbo].[PROJEKT] ([id_projektu])
GO
ALTER TABLE [dbo].[EKSPERYMENT] CHECK CONSTRAINT [FK_EKSPERYMENT_PROJEKT]
GO
ALTER TABLE [dbo].[GRUPA_PROJ]  WITH CHECK ADD  CONSTRAINT [FK_GRUPA_PROJ_GRUPA] FOREIGN KEY([id_grupa])
REFERENCES [dbo].[GRUPA] ([id_grupa])
GO
ALTER TABLE [dbo].[GRUPA_PROJ] CHECK CONSTRAINT [FK_GRUPA_PROJ_GRUPA]
GO
ALTER TABLE [dbo].[GRUPA_PROJ]  WITH CHECK ADD  CONSTRAINT [FK_GRUPA_PROJ_PROJEKT] FOREIGN KEY([id_projekt])
REFERENCES [dbo].[PROJEKT] ([id_projektu])
GO
ALTER TABLE [dbo].[GRUPA_PROJ] CHECK CONSTRAINT [FK_GRUPA_PROJ_PROJEKT]
GO
ALTER TABLE [dbo].[JEDN_UZYTK]  WITH CHECK ADD  CONSTRAINT [FK_JEDN_UZYTK_JEDNOSTKA] FOREIGN KEY([id_jednostki])
REFERENCES [dbo].[JEDNOSTKA] ([id_jednostki])
GO
ALTER TABLE [dbo].[JEDN_UZYTK] CHECK CONSTRAINT [FK_JEDN_UZYTK_JEDNOSTKA]
GO
ALTER TABLE [dbo].[JEDN_UZYTK]  WITH CHECK ADD  CONSTRAINT [FK_JEDN_UZYTK_UZYTK] FOREIGN KEY([id_uzytk])
REFERENCES [dbo].[UZYTK] ([id_uzytk])
GO
ALTER TABLE [dbo].[JEDN_UZYTK] CHECK CONSTRAINT [FK_JEDN_UZYTK_UZYTK]
GO
ALTER TABLE [dbo].[LITERATURA]  WITH CHECK ADD  CONSTRAINT [FK_LITERATURA_PROJEKT] FOREIGN KEY([id_projektu])
REFERENCES [dbo].[PROJEKT] ([id_projektu])
GO
ALTER TABLE [dbo].[LITERATURA] CHECK CONSTRAINT [FK_LITERATURA_PROJEKT]
GO
ALTER TABLE [dbo].[MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAL_PROBKA] FOREIGN KEY([id_probki])
REFERENCES [dbo].[PROBKA] ([id_probki])
GO
ALTER TABLE [dbo].[MATERIAL] CHECK CONSTRAINT [FK_MATERIAL_PROBKA]
GO
ALTER TABLE [dbo].[MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAL_SLOWNIK_MATERIALOW] FOREIGN KEY([id_slownika_materialow])
REFERENCES [dbo].[SLOWNIK_MATERIALOW] ([id_slownika_materialow])
GO
ALTER TABLE [dbo].[MATERIAL] CHECK CONSTRAINT [FK_MATERIAL_SLOWNIK_MATERIALOW]
GO
ALTER TABLE [dbo].[PACJ_PROB]  WITH CHECK ADD  CONSTRAINT [FK_PACJ_PROB_PACJENT] FOREIGN KEY([id_pacjent])
REFERENCES [dbo].[PACJENT] ([id_pacjent])
GO
ALTER TABLE [dbo].[PACJ_PROB] CHECK CONSTRAINT [FK_PACJ_PROB_PACJENT]
GO
ALTER TABLE [dbo].[PACJ_PROB]  WITH CHECK ADD  CONSTRAINT [FK_PACJ_PROB_PROBKA] FOREIGN KEY([id_probki])
REFERENCES [dbo].[PROBKA] ([id_probki])
GO
ALTER TABLE [dbo].[PACJ_PROB] CHECK CONSTRAINT [FK_PACJ_PROB_PROBKA]
GO
ALTER TABLE [dbo].[PACJ_PROJ]  WITH CHECK ADD  CONSTRAINT [FK_PACJ_PROJ_PACJENT] FOREIGN KEY([id_pacjent])
REFERENCES [dbo].[PACJENT] ([id_pacjent])
GO
ALTER TABLE [dbo].[PACJ_PROJ] CHECK CONSTRAINT [FK_PACJ_PROJ_PACJENT]
GO
ALTER TABLE [dbo].[PACJ_PROJ]  WITH CHECK ADD  CONSTRAINT [FK_PACJ_PROJ_PROJEKT] FOREIGN KEY([id_projektu])
REFERENCES [dbo].[PROJEKT] ([id_projektu])
GO
ALTER TABLE [dbo].[PACJ_PROJ] CHECK CONSTRAINT [FK_PACJ_PROJ_PROJEKT]
GO
ALTER TABLE [dbo].[PROBKA]  WITH CHECK ADD  CONSTRAINT [FK_PROBKA_PROJEKT] FOREIGN KEY([id_projektu])
REFERENCES [dbo].[PROJEKT] ([id_projektu])
GO
ALTER TABLE [dbo].[PROBKA] CHECK CONSTRAINT [FK_PROBKA_PROJEKT]
GO
ALTER TABLE [dbo].[PROBKA]  WITH CHECK ADD  CONSTRAINT [FK_PROBKA_SLOWNIK_MATERIALOW] FOREIGN KEY([id_slownika_materialow])
REFERENCES [dbo].[SLOWNIK_MATERIALOW] ([id_slownika_materialow])
GO
ALTER TABLE [dbo].[PROBKA] CHECK CONSTRAINT [FK_PROBKA_SLOWNIK_MATERIALOW]
GO
ALTER TABLE [dbo].[PROBKA]  WITH CHECK ADD  CONSTRAINT [FK_PROBKA_SLOWNIK_STATUSOW] FOREIGN KEY([id_slownika_statusow])
REFERENCES [dbo].[SLOWNIK_STATUSOW] ([id_slownika_statusow])
GO
ALTER TABLE [dbo].[PROBKA] CHECK CONSTRAINT [FK_PROBKA_SLOWNIK_STATUSOW]
GO
ALTER TABLE [dbo].[PROJEKT]  WITH CHECK ADD  CONSTRAINT [FK_PROJEKT_UZYTK] FOREIGN KEY([id_Admin])
REFERENCES [dbo].[UZYTK] ([id_uzytk])
GO
ALTER TABLE [dbo].[PROJEKT] CHECK CONSTRAINT [FK_PROJEKT_UZYTK]
GO
ALTER TABLE [dbo].[SLOWNIK_METOD]  WITH CHECK ADD  CONSTRAINT [FK_SLOWNIK_METOD_UZYTK] FOREIGN KEY([id_uzytk])
REFERENCES [dbo].[UZYTK] ([id_uzytk])
GO
ALTER TABLE [dbo].[SLOWNIK_METOD] CHECK CONSTRAINT [FK_SLOWNIK_METOD_UZYTK]
GO
ALTER TABLE [dbo].[SLOWNIK_ZMIENNA]  WITH CHECK ADD  CONSTRAINT [FK_SLOWNIK_ZMIENNA_PROJEKT] FOREIGN KEY([id_projektu])
REFERENCES [dbo].[PROJEKT] ([id_projektu])
GO
ALTER TABLE [dbo].[SLOWNIK_ZMIENNA] CHECK CONSTRAINT [FK_SLOWNIK_ZMIENNA_PROJEKT]
GO
ALTER TABLE [dbo].[UZYTK]  WITH CHECK ADD  CONSTRAINT [FK_UZYTK_UPRAWNIENIA] FOREIGN KEY([id_uprawnienia])
REFERENCES [dbo].[UPRAWNIENIA] ([id_uprawnienia])
GO
ALTER TABLE [dbo].[UZYTK] CHECK CONSTRAINT [FK_UZYTK_UPRAWNIENIA]
GO
ALTER TABLE [dbo].[UZYTK_AKTYW]  WITH CHECK ADD  CONSTRAINT [FK_UZYTK_AKTYW_UZYTK] FOREIGN KEY([id_uzytk])
REFERENCES [dbo].[UZYTK] ([id_uzytk])
GO
ALTER TABLE [dbo].[UZYTK_AKTYW] CHECK CONSTRAINT [FK_UZYTK_AKTYW_UZYTK]
GO
ALTER TABLE [dbo].[UZYTK_PROJEKT]  WITH CHECK ADD  CONSTRAINT [FK_UZYTK_PROJEKT_PROJEKT] FOREIGN KEY([id_projektu])
REFERENCES [dbo].[PROJEKT] ([id_projektu])
GO
ALTER TABLE [dbo].[UZYTK_PROJEKT] CHECK CONSTRAINT [FK_UZYTK_PROJEKT_PROJEKT]
GO
ALTER TABLE [dbo].[UZYTK_PROJEKT]  WITH CHECK ADD  CONSTRAINT [FK_UZYTK_PROJEKT_UZYTK] FOREIGN KEY([id_uzytk])
REFERENCES [dbo].[UZYTK] ([id_uzytk])
GO
ALTER TABLE [dbo].[UZYTK_PROJEKT] CHECK CONSTRAINT [FK_UZYTK_PROJEKT_UZYTK]
GO
ALTER TABLE [dbo].[WYNIK]  WITH CHECK ADD  CONSTRAINT [FK_WYNIK_PROBKA] FOREIGN KEY([id_probki])
REFERENCES [dbo].[PROBKA] ([id_probki])
GO
ALTER TABLE [dbo].[WYNIK] CHECK CONSTRAINT [FK_WYNIK_PROBKA]
GO
ALTER TABLE [dbo].[WYNIK]  WITH CHECK ADD  CONSTRAINT [FK_WYNIK_SLOWNIK_ZMIENNA] FOREIGN KEY([id_slownik_zmiennej])
REFERENCES [dbo].[SLOWNIK_ZMIENNA] ([id_slownika_zmiennych])
GO
ALTER TABLE [dbo].[WYNIK] CHECK CONSTRAINT [FK_WYNIK_SLOWNIK_ZMIENNA]
GO